.navbar {
    background-color:rgb(10, 63, 61);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-list {
    list-style-type: none;
    display: flex;
}

.navbar-item {
    padding: 0.3rem 5rem;
    cursor: pointer;
    transition: font-size 0.3s; 
}

.navbar-item:hover {
    font-size: 1.2em;
    color:lightblue; /* Change the color to light blue when hovering */
}

.submenu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 0.5rem 1rem;
}

.submenu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.navbar-item:hover .submenu {
    display: block;
}


.custom-link {
    color: rgb(248, 232, 232); /* Set the color to black or any other color you prefer */
    text-decoration: none; /* Remove underline from the link */
}

.custom-link:hover {
    color: lightblue; /* Change color on hover if needed */
}
